<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/authStyles/message.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <title>Aktywacja konta | HarmonyLink</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-4 p-0">
                <div class="text-center">
                    <img class="img-fluid w-50 mt-4" th:src="@{/img/logo/coloredLogoHarmonyLink.png}" alt="" oncontextmenu="return false;">
                </div>
                <h3 class="mt-5 text-center">Dziękujemy za aktywację konta!</h3>
                <p class="lead text-center">Wróć do strony logowania <a href="/auth/login" class="text-decoration-none lead">Zaloguj się</a></p>
                <div class="text-white text-s d-flex justify-content-end bot-part">
                    <div class="text-center">
                        <img class="img-fluid w-25 mt-4" th:src="@{/img/logo/coloredLogoFischer.png}" alt="" oncontextmenu="return false;">
                        <p>2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>
</html>
