<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOGS_DIR" value="./logs" />


    <appender name="ASYNC_USER_LOGIN_LOGGER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="USER_LOGIN_LOGGER" />
        <queueSize>5</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <appender name="USER_LOGIN_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS_DIR}/user-login.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="USER_PROFILE_DATA_CHANGE_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS_DIR}/user-profile-data-change.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_USER_PROFILE_DATA_CHANGE_LOGGER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="USER_PROFILE_DATA_CHANGE_LOGGER" />
        <queueSize>5</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>


    <appender name="ERRORS_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS_DIR}/errors.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_ERRORS_LOGGER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERRORS_LOGGER" />
        <queueSize>1</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>


    <logger name="UserLogin" level="INFO">
        <appender-ref ref="ASYNC_USER_LOGIN_LOGGER" />
    </logger>

    <logger name="UserProfileDataChange" level="INFO">
        <appender-ref ref="ASYNC_USER_PROFILE_DATA_CHANGE_LOGGER" />
    </logger>

    <logger name="Errors" level="ERROR">
        <appender-ref ref="ASYNC_ERRORS_LOGGER" />
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


    <logger name="org.springframework.web" level="INFO"/>
</configuration>