<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/navbarMenuPagesStyles/accountSettings.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <link href="/img/home/navbarPagesBG.jpg" rel="preload">
    <title>Ustawienia konta | HarmonyLink</title>
</head>
<body style="background-image: url('/img/home/navbarPagesBG.jpg')">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center">
            <a class="navbar-brand w-25 ps-3" href="/">
                <img th:src="@{/img/logo/whiteLogoHarmonyLink.png}" class="img-fluid w-75" alt="" oncontextmenu="return false;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="px-3">
                        <a class="nav-link" href="/" th:text="${userProfileNickname}"></a>
                    </li>
                    <li class="nav-item px-3 mx-1">
                        <a class="nav-link" href="/user-profile-data"><i class="fa fa-id-badge"></i> Twój profil</a>
                    </li>
                    <li class="nav-item px-3 mx-1">
                        <a class="nav-link" href="/talkers-history"><i class="fa fa-users"></i> Ostatnie współrozmówcy</a>
                    </li>
                    <li class="account-settings-item px-3 mx-1">
                        <a class="nav-link account-settings-link" href="/account-settings"><i class="fa fa-cog"></i> Ustawienia konta</a>
                    </li>
                    <li class="nav-item px-3 mx-1">
                        <a class="nav-link" href="/auth/logout"><i class="fa fa-sign-out-alt"></i> Wyloguj się</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-8 account-settings-main-div">
                <div class="col-12 mx-auto mt-4 mb-5">
                    <h3 class="text-center">Ustawienia konta</h3>
                </div>

                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <div class="change-password-div w-75">
                            <form action="/change-password" method="post">
                                <h4 class="ms-2 mb-3">Zmiana hasła</h4>
                                <div class="input-group form-floating mb-2">
                                    <div class="form-floating flex-grow-1">
                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control password-input" th:classappend="${errorWrongPassword} ? 'is-invalid'" placeholder="Stare hasło" required>
                                        <label for="oldPassword">Stare hasło</label>
                                    </div>
                                    <span class="input-group-text password-eye">
                                        <i id="toggleOldPassword" class="bi bi-eye-slash" onclick="togglePasswordVisibility('oldPassword', 'toggleOldPassword')"></i>
                                    </span>
                                    <p class="ms-2 invalid-password fw-bold w-100" th:if="${errorWrongPassword}" th:text="${errorWrongPassword}"></p>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" id="newPassword" name="newPassword" class="form-control" th:classappend="${errorInvalidNewPassword != null ? 'is-invalid' : (errorPasswordsMatching != null ? 'is-invalid' : '')}" placeholder="Nowe hasło" required autocomplete="off">
                                    <label for="newPassword">Nowe hasło</label>
                                    <div class="invalid-feedback">
                                        <h6 class="fw-bold ms-1" th:if="${errorInvalidNewPassword}" th:text="${errorInvalidNewPassword}"></h6>
                                    </div>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" id="confirmPassword" name="confirmPassword" class="form-control" th:classappend="${errorPasswordsMatching} ? 'is-invalid'" placeholder="Powtórz nowe hasło" required autocomplete="off">
                                    <label for="confirmPassword">Powtórz nowe hasło</label>
                                    <div class="invalid-feedback text-center">
                                        <h6 class="fw-bold" th:if="${errorPasswordsMatching}" th:text="${errorPasswordsMatching}"></h6>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100 py-2 mb-4">Zmień hasło</button>
                            </form>

                            <div class="modal fade" id="changePasswordSuccessModal" tabindex="-1" aria-labelledby="changePasswordSuccessModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-success text-white">
                                            <h5 class="modal-title" id="changePasswordSuccessModalLabel">Zmiana hasła</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-success" role="alert">
                                                <p>Twoje hasło zostało pomyślnie zmienione.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-6">
                        <h4>Zmiana maila</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/navbarMenuPages/accountSettings.js"></script>
    <script src="/js/functions/passwordField.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var displayChangePasswordSuccessModal = [[${displayChangePasswordSuccessModal}]].toString();
        /*]]>*/
    </script>
</body>
</html>