<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/home.css" rel="stylesheet"/>
    <link href="/css/setUserProfileData.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <title>HarmonyLink</title>
</head>
<body class="body-bg-color">

    <nav class="navbar navbar-expand-lg nav-bg-color">
        <div class="container-fluid d-flex align-items-center">
            <a class="navbar-brand w-25 ps-3" href="/">
                <img th:src="@{/img/logo/whiteLogoHarmonyLink.png}" class="img-fluid w-75" alt="" oncontextmenu="return false;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="px-3">
                        <a class="nav-link" href="#" th:text="${userProfile?.getNickname()}"></a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#"><i class="fa fa-filter"></i> Twoje filtry</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#"><i class="fa fa-users"></i> Ostatnie współrozmówcy</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#"><i class="fa fa-cog"></i> Ustawienia konta</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#"><i class="fa fa-sign-out-alt"></i> Wyloguj się</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container d-flex flex-column align-items-center vh-75">
        <div class="row mt-2 d-flex justify-content-center">
            <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                <div class="info-div h-100 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="w-100 d-flex justify-content-center mt-2 mb-5">
                        <img th:src="@{/img/logo/coloredLogoHarmonyLink.png}" class="img-fluid w-50" alt="" oncontextmenu="return false;">
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                        <div class="d-inline-block">
                            <h5 class="font-weight-bold" id="users-online">
                            </h5>
                            <h5 class="font-weight-bold" id="users-in-search">
                            </h5>
                            <h5 class="font-weight-bold" id="users-in-call">
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-12 mb-5 mt-4">
                    </div>
                    <div class="col-md-12 mt-1">
                    </div>
                    <div class="w-100 d-flex justify-content-center mt-5">
                        <div class="text-center w-25">
                            <img th:src="@{/img/logo/blueLogoFischer.png}" class="img-fluid w-75" alt="" oncontextmenu="return false;">
                            <h6 class="text-center mt-2">2024</h6>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div id="user-camera-div" class="embed-responsive embed-responsive-21by9 d-flex justify-content-center align-items-center">
                    <video id="user-camera" class="w-100 h-100 embed-responsive-item user-camera" autoplay></video>
                    <audio id="user-audio" autoplay></audio>

                    <div id="camera-error" class="alert alert-danger d-none w-75" role="alert" style="margin-bottom: 90px;">
                        Błąd podczas uzyskiwania dostępu do kamery i mikrofonu.
                        Prosimy zezwolić na dostęp do kamery i mikrofonu w przeglądarce.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 w-100">
            <div class="col-md-6 d-flex flex-row align-items-center justify-content-center ps-0">
                <button type="button" id="start-btn" class="btn btn-success w-100 h-100">
                    <i class="fas fa-play"></i> Start
                </button>
                <button type="button" id="stop-btn" class="btn btn-danger w-100 h-100 mx-3 disabled">
                    <i class="fas fa-stop"></i> Stop
                </button>

                <button type="button" id="filters-btn" class="btn btn-primary w-100 h-100" data-bs-toggle="modal" data-bs-target="#preferencesModal">
                    <i class="fas fa-sliders-h"></i> Filtry
                </button>
                <div class="modal fade" id="preferencesModal" tabindex="-1" aria-labelledby="preferencesModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="preferencesModalLabel">Dopasuj filtry, aby znaleźć idealnego rozmówcę</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="col-6 me-2">
                                                <div class="form-floating d-flex flex-column">
                                                    <select class="form-select small-text" id="sex" name="sex" required>
                                                        <option value="" selected>Bez preferencji</option>
                                                        <option value="M">Mężczyzna</option>
                                                        <option value="K">Kobieta</option>
                                                    </select>
                                                    <label for="sex">
                                                        Płeć <i class="fa fa-venus-mars"></i>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-6 ms-2 d-flex">
                                                <div class="form-floating flex-fill me-2 w-50 ">
                                                    <input type="number" class="form-control" id="ageFrom" name="ageFrom" placeholder="Wiek od" min="16" max="87" value="16">
                                                    <label for="ageFrom" class="form-label">Wiek od</label>
                                                </div>
                                                <div class="form-floating flex-fill w-50">
                                                    <input type="number" class="form-control" id="ageTo" name="ageTo" placeholder="Wiek do" min="16" max="87" value="87">
                                                    <label for="ageTo" class="form-label">Wiek do</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-center mt-3">
                                            <div class="col-6 me-2">
                                                <div class="form-floating d-flex flex-column">
                                                    <select class="form-select small-text" id="relationshipStatus" name="relationshipStatus">
                                                        <option value="" selected>Bez preferencji</option>
                                                        <option value="single">Singiel/Singielka</option>
                                                        <option value="relationship">W związku</option>
                                                        <option value="married">Żonaty/Zamężna</option>
                                                        <option value="divorced">Wszystko skomplikowane</option>
                                                    </select>
                                                    <label for="relationshipStatus" class="form-label">
                                                        Status związku <i class="fa fa-user-friends"></i>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-6 ms-2 d-flex">
                                                <div class="form-floating flex-fill me-2 w-50 ">
                                                    <input type="number" class="form-control" id="heightFrom" name="heightFrom" placeholder="Wzrost od" min="150" max="230" value="150">
                                                    <label for="heightFrom" class="form-label">Wzrost od</label>
                                                </div>
                                                <div class="form-floating flex-fill w-50">
                                                    <input type="number" class="form-control" id="heightTo" name="heightTo" placeholder="Wzrost do" min="150" max="230" value="230">
                                                    <label for="heightTo" class="form-label">Wzrost do</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-center mt-3 px-0">
                                            <div class="form-floating w-100 mx-1">
                                                <input type="text" class="form-control" id="hobbies" placeholder="Hobby (wybierz spośród podanych)" list="hobbiesList" autocomplete="off">
                                                <label for="hobbies" class="form-label">
                                                    Hobby (wybierz spośród podanych) <i class="fa fa-chess-knight"></i>
                                                </label>

                                                <div id="selectedHobbies">
                                                </div>

                                                <datalist id="hobbiesList">
                                                </datalist>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-center mt-3 px-0">
                                             <div class="form-floating w-100 mx-1">
                                                 <input type="text" class="form-control" id="studies" placeholder="Kierunki studiów/edukacji (wybierz spośród podanych)" list="studiesList" autocomplete="off">
                                                 <label for="studies" class="form-label">
                                                     Kierunki studiów/edukacji (wybierz spośród podanych) <i class="fa fa-graduation-cap"></i>
                                                 </label>

                                                 <div id="selectedStudies">
                                                 </div>

                                                 <datalist id="studiesList">
                                                 </datalist>
                                             </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-center mt-3 px-0">
                                            <div class="form-floating w-100 mx-1">
                                                <input type="text" class="form-control" id="cities" placeholder="Miasta (wybierz spośród podanych)" list="citiesList" autocomplete="off">
                                                <label for="cities" class="form-label">
                                                    Miasta (wybierz spośród podanych) <i class="fa fa-city"></i>
                                                </label>

                                                <div id="selectedCities">
                                                </div>

                                                <datalist id="citiesList">
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center mt-3 px-0">
                                            <div id="save-preferences-success" class="alert alert-success d-none mb-1" role="alert">
                                                Twoje preferencje zostały pomyślnie zapisane!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer w-100 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary send-preferences w-50">Zapisz preferencje</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pe-0">
                <div class="w-100">
                    <h6 class="text ms-2">
                        Klikając "Start", akceptujesz <a class="text-decoration-none" href="/terms-of-service">regulamin</a> i potwierdzasz, że masz ukończone 16 lat.
                        Nieprzestrzeganie zasad może skutkować blokadą. Upewnij się,
                        że Twoja twarz jest wyraźnie widoczna w obszarze kamery.
                    </h6>
                </div>
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Wpisz wiadomość i naciśnij Enter" aria-describedby="basic-addon2">
                    <span class="input-group-text">
                        <i class="far fa-smile-wink	" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <span id="user-profile-id" th:text="${userProfile?.getId()}" style="display: none;"></span>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/home/home.js"></script>
    <script src="/js/home/preferencesModal.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var sex = [[${sex}]];
        var relationshipStatus = [[${relationshipStatus}]];
        var ages = [[${ages}]];
        var heights = [[${heights}]];
        var cities = [[${cities}]];
        var hobbies = [[${hobbies}]];
        var studies = [[${studies}]];
        /*]]>*/
    </script>
</body>
</html>