<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/authStyles/login/forgotPassword.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <title>Resetowanie hasła</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-4 p-0">
                <form action="/auth/forgot-password" method="post">
                    <div class="text-center">
                        <img class="img-fluid w-75 mt-4" th:src="@{/img/logo/coloredLogoHarmonyLink.png}" alt="" oncontextmenu="return false;">
                    </div>

                    <h3 class="mt-5 text-center">Resetowanie hasła</h3>
                    <p class="lead mt-2 text-center">Podaj adres e-mail związany z twoim kontem</p>

                    <div class="form-floating mx-4">
                        <input type="text" class="form-control" id="email" name="email" th:value="${email}" th:classappend="${errorEmail != null ? 'is-invalid' : ''}" placeholder="Mail" required>
                        <label for="email" class="form-label">Mail</label>
                        <div class="invalid-feedback">
                            <label class="fw-bold" th:if="${errorEmail}" th:text="${errorEmail}"></label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mx-4">
                        <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Zresetuj hasło</button>
                    </div>
                    <div th:if="${message}" class="alert alert-success mt-4 mx-4" role="alert">
                        <p class="fw-bold text-success text-center" th:src="${message}" th:text="${message}"></p>
                    </div>
                </form>

                <div class="text-white text-s d-flex justify-content-end bot-part">
                    <div class="text-center">
                        <img class="img-fluid w-25 mt-4" th:src="@{/img/logo/coloredLogoFischer.png}" alt="" oncontextmenu="return false;">
                        <p>2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>
</html>
