<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/authStyles/login/login.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <title>Logowanie | HarmonyLink</title>
</head>
<body class="bg-light-blue">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-md-1">

            </div>

            <div class="col d-flex flex-column justify-content-center mx-auto rightPanel">
                <img th:src="@{/img/logo/coloredLogoHarmonyLink.png}" class="mb-3 img-fluid w-75" alt="Logo" oncontextmenu="return false;">
                <h5>HarmonyLink, Bez Granic: Wideołącze to Nie Tylko Aplikacja - To Otwarte Okno do Nowych Światów, Nowych Przyjaźni i Nowych Możliwości</h5>
            </div>

            <div class="col d-flex flex-column">
                <div class="login-form bg-white p-4 mx-auto">
                    <form action="/auth/login" method="post" class="row g-3">
                        <h4 class="mb-3">Witaj ponownie!</h4>
                        <div th:if="${loginError}" class="col-12">
                            <div th:if="${loginError}" class="alert alert-danger" role="alert">
                                <p th:text="${loginError}"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="login" name="login" class="form-control" placeholder="Login lub Mail" required>
                                <label for="login">Login lub Mail</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group form-floating mb-3">
                                <div class="form-floating flex-grow-1">
                                    <input type="password" id="password" name="password" class="form-control password-input" placeholder="Hasło" required>
                                    <label for="password">Hasło</label>
                                </div>
                                <span class="input-group-text password-eye">
                                    <i id="togglePassword" class="bi bi-eye-slash" onclick="togglePasswordVisibility('password', 'togglePassword')"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Zaloguj się</button>
                        </div>
                    </form>

                    <div class="col-12 mt-2">
                        <a href="/oauth2/authorization/google" class="btn btn-danger w-100 py-2 fw-bold">
                            <i class="bi bi-google"></i> Zaloguj się przez Google
                        </a>
                    </div>

                    <hr class="mt-4">
                    <div class="col-12">
                        <p class="text-center mb-0">Nie masz konta? <a href="/auth/registration" class="text-decoration-none">Zarejestruj się</a></p>
                        <p class="text-center mb-0"><a href="/auth/forgot-password" class="text-decoration-none">Nie pamiętasz hasła?</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="/js/functions/passwordField.js">
    </script>
    </body>
</html>
