<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/authStyles/message.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo/faviconHarmonyLink.ico" rel="icon" type="image/x-icon">
    <title>Resetowanie hasła</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-4 p-0">
                <div class="text-center">
                    <img class="img-fluid w-50 mt-4" th:src="@{/img/logo/coloredLogoHarmonyLink.png}" alt="" oncontextmenu="return false;">
                </div>
                <h3 class="mt-5 text-center">Resetowanie hasła</h3>
                <p class="lead mt-4 text-center">Wprowadź nowe hasło</p>
                <form action="/auth/reset-password" method="post">
                    <input type="hidden" id="token" name="token" th:value="${token}">
                    <div class="input-group form-floating mb-3" style="margin: auto; width: 75%;">
                        <div class="form-floating flex-grow-1">
                            <input type="password" id="password" name="newPassword" class="form-control" th:classappend="${errorInvalidPassword != null ? 'is-invalid' : (errorPasswordsMatching != null ? 'is-invalid' : '')}" placeholder="Nowe hasło" required>
                            <label for="password">Nowe hasło</label>
                        </div>
                        <span class="input-group-text">
                            <i id="togglePassword" class="bi bi-eye-slash" onclick="togglePasswordVisibility()"></i>
                        </span>
                        <p class="ms-2 invalid-password fw-bold" th:if="${errorInvalidPassword}" th:text="${errorInvalidPassword}"></p>
                    </div>
                    <div class="input-group form-floating mb-3" style="margin: auto; width: 75%;">
                        <div class="form-floating flex-grow-1">
                            <input type="password" name="confirmPassword" class="form-control" th:classappend="${errorPasswordsMatching} ? 'is-invalid'" placeholder="Powtórz nowe hasło" required>
                            <label for="password">Powtórz nowe hasło</label>
                            <div class="invalid-feedback text-center">
                                <h6 class="fw-bold" th:if="${errorPasswordsMatching}" th:text="${errorPasswordsMatching}"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-primary w-75 py-2">Zmień hasło</button>
                    </div>
                    <div class="form-floating mt-4" style="margin: auto; width: 75%;">
                        <p class="fw-bold text-success text-center" th:src="${messageSuccess}" th:text="${messageSuccess}"></p>
                        <p class="text-center"><a th:if="${messageSuccess}" href="/auth/login" class="text-decoration-none">Zaloguj się</a></p>
                    </div>
                </form>
                <div class="text-white text-s d-flex justify-content-end bot-part">
                    <div class="text-center">
                        <img class="img-fluid w-25 mt-4" th:src="@{/img/logo/coloredLogoFischer.png}" alt="" oncontextmenu="return false;">
                        <p>2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="/js/auth/passwordField.js">
    </script>
</body>
</html>
