html, body {
    background-color: aliceblue !important;
    height: 100% !important;
    margin: 0 !important;
}

body {
    display: flex !important;
    flex-direction: column !important;
}


.navbar {
    background-color: rgba(30, 144, 255);
    margin: 0 auto !important;
}

.nav-item {
    border: 1px solid transparent;
    transition: all 0.3s ease !important;
}

.nav-link {
    font-size: 1.2vw !important;
    color: white !important;
}

.nav-item:hover,
.nav-item:focus {
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}


.main-container {
    margin: auto !important;
}

h5:not(.modal-title) {
    font-size: 1.3vw !important;
}

.remote-user-camera {
    box-shadow: 0 2px 8px 0 rgb(173, 173, 199);
    border-radius: 20px;
}

.user-camera {
    transform: scaleX(-1);
    box-shadow: 0 2px 8px 0 rgb(173, 173, 199);
    border-radius: 20px;
}


.info-div {
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgb(191, 193, 253);
    border-radius: 20px;
}


.form-control {
    border-radius: 10px !important;
    border-width: 2px !important;
}

.form-control:focus {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

select {
    border-radius: 10px !important;
    border-width: 2px !important;
}

select:focus {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

.small-text {
    font-size: 0.85rem !important;
}

.selected-badge {
    background-color: #3a8dee;
    color: white;
    border-radius: 3px;
}

.btn-close {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

.terms-short-desc {
    font-size: 1.1vw;
}


@keyframes searchingAnimation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); animation-timing-function: ease-out; }
    100% { transform: rotate(360deg); }
}

.searching-animation {
    animation: searchingAnimation 1.5s infinite;
}