body {
    background-color: aliceblue !important;
}


.col-8 {
    display: grid !important;
    align-items: center !important;
    height: 100vh !important;
}

h5 {
    font-size: 2.5vw !important;
}

h2 {
    margin-top: 30% !important;
    font-size: 2vw !important;
}


.carousel-item img {
    max-height: 550px;
    object-fit: cover;
}


.rightPanel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    width: 37%;
    height:100%;
    font-size: 1.1vw !important;
}


@media (min-height: 700px) {
    .carousel-item img {
        max-height: 550px;
        object-fit: cover;
    }
}

@media (min-height: 800px) {
    .carousel-item img {
        max-height: 710px;
        object-fit: cover;
    }
}