body {
    background-color: aliceblue !important;
}

.col-md-4 {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(176, 180, 255, 0.5);
}

.container {
    border-radius: 10px;
}

.form-control {
    border-radius: 10px !important;
    border-width: 2px !important;
}

.form-control:focus {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

.bot-part {
    margin-top: 60%;
    border-radius: 0 0 10px 10px;
    background-color: #458ddc;
    box-shadow: 0 4px 8px 0 rgba(176, 180, 255, 0.5);
}

.invalid-password {
    color: #dc3545;
}