body {
    background-color: aliceblue !important;
}

.custom-col-width {
    width: 40% !important;
}

.registration-form {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(176, 180, 255, 0.5);

}

.form-control {
    border-radius: 10px !important;
    border-width: 2px !important;
}

.password-input {
    border-radius: 10px 0 0 10px !important;
}

.password-eye {
    border-radius: 0 10px 10px 0 !important;
}

.form-control:focus {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

select {
    border-radius: 10px !important;
    border-width: 2px !important;
}

select:focus {
    border-width: 2px !important;
    border-color: #59a5fc !important;
    box-shadow: none !important;
    outline: none !important;
}

.invalid-password {
    color: #dc3545;
}